<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatmap.digital.mapper.DcCertMapMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.greatmap.digital.model.DcCertMap">
        <id column="id" property="id" />
        <result column="zzbh" property="zzbh" />
        <result column="tpmc" property="tpmc" />
        <result column="tpxx" property="tpxx" />
        <result column="jzd" property="jzd" />
        <result column="bdcdyh" property="bdcdyh" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, zzbh, tpmc, tpxx, jzd, bdcdyh
    </sql>

    <select id="listByZzbh" resultType="com.greatmap.digital.dto.MapInfoDto">

    </select>

</mapper>
