<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatmap.digital.mapper.DcCertTemplateMapper">

    <!-- 开启二级缓存 -->
   <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.greatmap.digital.model.DcCertTemplate">
        <id column="id" property="id" />
        <result column="mbbs" property="mbbs" />
        <result column="zzmc" property="zzmc" />
        <result column="qxdm" property="qxdm" />
        <result column="qxmc" property="qxmc" />
        <result column="zt" property="zt" />
        <result column="bz" property="bz" />
        <result column="mbsl" property="mbsl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mbbs, zzmc, qxdm, qxmc, zt, bz, mbsl
    </sql>

</mapper>
