<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatmap.digital.mapper.DcCertInfoMapper">

    <select id="findCertInfoPage" resultType="com.greatmap.digital.dto.CertInfoDto">
        select a.id, a.zt,a.djjg bfjg,a.zzbh,a.bfsj,a.ywh,
        <if test="zzlx == 1">
            a.zh bdcqzh,
            b.qlr czzt,
            b.mj mj,
        </if>
        <if test="zzlx != 1">
            a.zh bdcdjzmh,
            b.qlr czzt,
        </if>
        b.zl zl
        from dc_cert_info a
        inner join
        <if test="zzlx==1">
            dc_property_print
        </if>
        <if test="zzlx!=1">
            dc_registration_print
        </if>
        b
        on a.zzbh = b.zzbh
        <where>
            <if test="bfjg!=null and bfjg != ''">
                and a.djjg = #{bfjg}
            </if>
            <if test="zt!=null and zt != ''">
                and a.zt = #{zt}
            </if>
            <if test="zzbh!=null and zzbh != ''">
                and a.zzbh = #{zzbh}
            </if>
            <if test="qlr!=null and qlr != ''">
                and a.zzbh exists (select c.zzbh from dc_rightholder c where c.qlr = #{qlr} and c.ryfl = 1)
            </if>
        </where>
    </select>
    <select id="getBasicCertInfo" resultType="com.greatmap.digital.dto.CertBaseDto">
        select '中华人民共和国不动产权证书' zzlxmc,'11100000MB03271699001' zzlxdm, a.zzbh,a.zzbsm zzbs,a.zh zh,a.djyy bfyy,b.syqqssj
        zzyxqssj,b.syqjssj zzyxjzsj,
        a.djjg bfjg , a.djjgdm bfjgdm ,a.zzzxrq zxrq ,a.zxyy zxyy , a.zzfl zzfl
        from dc_cert_info a left join
        dc_right_info b on a.zzbh = b.zzbh
        <where>
            <if test="id!=null and id != ''">
                and a.id = #{id}
            </if>
            and rownum=1
        </where>
    </select>
    <select id="selectNumByDay" resultType="java.util.Map">
        select
        to_char(bfsj,'yyyy-MM-dd') sj,
        sum(case when zzfl=1 then '1' else '0' end) cert,
        sum(case when zzfl=2 then '1' else '0' end) prove,
        sum(case when zzfl!=1 and zzfl!=2 then '1' else '0' end) other
        from dc_cert_info
        <where>
            <if test="djjgdm!=null and djjgdm!=''">
                and djjgdm = #{djjgdm}
            </if>
            <if test="startDate!=null">
                and bfsj >= #{startDate}
            </if>
            <if test="endDate!=null">
                and #{endDate} >= bfsj
            </if>
        </where>
        group by to_char(bfsj,'yyyy-MM-dd')
        order by to_char(bfsj, 'yyyy-MM-dd')
    </select>

    <select id="queryCertificateList" resultType="com.greatmap.digital.dto.CertificateDto">
        SELECT ER.MC AS QLRMC,ER.ZJH AS QLRZJH,INFO.ZH AS BDCQZH,INFO.ZZMC AS ZZMC,INFO.BFSJ AS BFSJ,
        INFO.DJJG AS QQBFDJJG,INFO.DJYY AS BFYY,INFO.ZT AS ZT FROM DC_CERT_INFO INFO , DC_RIGHTHOLDER ER
        WHERE INFO.ZZBH = ER.ZZBH
        <if test="zh != null and zh != ''">
            AND INFO.ZH = #{zh}
        </if>
        <if test="qlrmc != null and qlrmc != ''">
            AND ER.MC = #{qlrmc}
        </if>
        <if test="qlrzjh != null and qlrzjh !=''">
            AND ER.ZJH = #{qlrzjh}
        </if>
    </select>
</mapper>
